* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #404040;
}

a {
  text-decoration: none !important;
}

header a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
header a:hover {
  color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.ratings {
  margin-bottom: 20px;
}

.ratings span i {
  color: gold;
}

.numReviews {
  color: gold;
  font-weight: bold;
  margin-left: 15px;
}


.img-thumbnail{
  height: 80px;
}